body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#00c6ff,#0072ff);
}

h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.left,.right{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    background: #00c6ff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}
button:hover{
    background: #0072ff;
}
